# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Lock files
pubspec.lock

# Environment and Secret files
.env
.env.*
!.env.example

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build and signing
/android/app/debug
/android/app/profile
/android/app/release
**/android/.gradle
**/android/captures/
**/android/gradleBuild/
**/android/local.properties
key.properties
*.keystore
*.jks

# iOS generated
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/.symlinks/

# Widget Preview related
.widget_preview/
